{% extends 'base.html' %}


{% block content %}
	<h2>Listado de todos los posts</h2>
	<ul>
		{% for post in posts %} <!-- "posts" es la variable enviada al template desde el modelo-->
		<div  class="back"  align="center">
			<li>
				<a href="{{post.get_absolute_url}}">
				<h3>{{ post.titulo }} </h3></a>
				<p>{{ post.cuerpo }}</p>
				<small><em>{{ post.fecha }}</em></small>
				<small><em>{{ post.autor }}</em></small>
			</li>		
		</div>
		<br><br>
			{%empty%}
			<h1>No hay publicaciones actualmente</h1>
		{% endfor%}	
			
	</ul>
{% endblock content %}



